.dracula {
    --xml-editor-button-color: var(--color-grey-225-10-15);
    --xml-editor-button-border-color: var(--color-grey-225-10-75);
    --xml-editor-button-background-color: var(--color-grey-225-10-95);
    --xml-editor-font-size: var(--font-size-default);
    --xml-editor-font-size-small: 13px;
    --xml-editor-tag-color: #ff79c6 !important;
    --xml-editor-string-color: #f1fa8c !important;
}

.dracula .CodeMirror, .dracula .CodeMirror-gutters,
.dracula .cm-editor, .dracula .cm-gutters {
    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    border: none !important;
}
.dracula .CodeMirror-gutters, .dracula .cm-gutters { color: #282a36 !important;  }
.dracula .CodeMirror-cursor, .dracula .cm-cursor { border-left: solid thin #f8f8f0 !important; }
.dracula .CodeMirror-linenumber, .dracula .cm-lineNumbers { color: #6D8A88 !important; }
.dracula .CodeMirror-selected, .dracula .cm-selectionBackground { background: rgba(255, 255, 255, 0.1) !important; }
.dracula .CodeMirror-line::selection, .dracula .CodeMirror-line > span::selection, .dracula .CodeMirror-line > span > span::selection,
.dracula .cm-line::selection, .dracula .cm-line > span::selection, .dracula .cm-line > span > span::selection { background: rgba(255, 255, 255, 0.10) !important; }
.dracula .CodeMirror-line::-moz-selection, .dracula .CodeMirror-line > span::-moz-selection, .dracula .CodeMirror-line > span > span::-moz-selection,
.dracula .cm-line::-moz-selection, .dracula .cm-line > span::-moz-selection, .dracula .cm-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10) !important; }
.dracula span.cm-comment { color: #6272a4 !important; }
.dracula span.cm-string, .dracula span.cm-string-2, .dracula span.ci { color: #f1fa8c !important; }
.dracula span.cm-number { color: #bd93f9 !important; }
.dracula span.cm-variable { color: #50fa7b !important; }
.dracula span.cm-variable-2 { color: white !important; }
.dracula span.cm-def { color: #50fa7b !important; }
.dracula span.cm-operator { color: #ff79c6 !important; }
.dracula span.cm-keyword { color: #ff79c6 !important; }
.dracula span.cm-atom { color: #bd93f9 !important; }
.dracula span.cm-meta { color: #f8f8f2 !important; }
.dracula span.cm-tag { color: #ff79c6 !important; }
.dracula span.cm-attribute { color: #50fa7b !important; }
.dracula span.cm-qualifier { color: #50fa7b !important; }
.dracula span.cm-property { color: #66d9ef !important; }
.dracula span.cm-builtin { color: #50fa7b !important; }
.dracula span.cm-variable-3, .dracula span.cm-type { color: #ffb86c !important; }

.dracula .CodeMirror-activeline-background, .dracula .cm-activeLine, .dracula .cm-activeLineGutter { background: rgba(255,255,255,0.1) !important; }
.dracula .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }