* {
    --dark-background: rgba(30, 32, 34, 255);
    --dark-current-line: var(--dark-background);
    --dark-foreground: #BCBEC4;
    --dark-comment: var(--dark-background);;
    --dark-cyan: hsl(191, 97%, 77%);
    --dark-green: hsl(135, 94%, 65%);
    --dark-orange: hsl(31, 100%, 71%);
    --dark-pink: hsl(326, 100%, 74%);
    --dark-purple: hsl(265, 89%, 78%);
    --dark-red: hsl(0, 100%, 67%);
    --dark-yellow: hsl(65, 92%, 76%);
    --dark-properties-panel: rgba(43, 45, 48, 255);
    --palette-background-color: rgba(43, 45, 48, 255);
    --palette-border-color: var(--dark-properties-panel);
    --palette-separator-color: var(--dark-background);
    --popup-header-entry-selected-background-color: var(--dark-background);
    --header-icon-fill-color: var(--dark-foreground);
    --group-bottom-border-color: var(--dark-background);
    --header-bottom-border-color: var(--dark-background);
    --dot-color: var(--dark-foreground);
    --input-border-color: var(--dark-background);
    --input-background-color: var(--dark-background);
    --add-entry-fill-color: var(--dark-foreground);
    --add-entry-label-color: var(--dark-background);
    --add-entry-hover-background-color: var(--dark-background);
    --add-entry-hover-fill-color: var(--dark-foreground);
    --popup-entry-hover-color: var(--dark-background);
    --arrow-fill-color: var(--dark-foreground);
    --arrow-hover-background-color: var(--dark-background);
    --sticky-group-background-color: var(--dark-properties-panel);
    --sticky-group-bottom-border-color: var(--dark-background);

    --color-grey-225-10-15: var(--dark-foreground); /* text */
    --color-grey-225-10-35: rgb(207, 205, 205);  /* icons */
    --color-grey-225-10-55: rgb(175, 172, 175);
    --color-grey-225-10-75: var(--dark-background); /* lines */
    --color-grey-225-10-80: rgb(120, 117, 125); /* hover on grey bg */
    --color-grey-225-10-85: rgb(96, 94, 83); /* app window */
    --color-grey-225-10-90: rgb(76, 74, 85); /* button hover */
    --color-grey-225-10-95: var(--dark-properties-panel); /* backgrounds, hover */
    --color-grey-225-10-97: hsl(225, 10%, 97%); /* form element backgrounds */

    --color-blue-205-100-40: hsl(205, 100%, 40%); /* outline */
    --color-blue-205-100-45: hsl(205, 100%, 45%); /* primary hover */
    --color-blue-205-100-50: hsl(205, 100%, 50%); /* primary */
    --color-blue-205-100-95: hsl(205, 100%, 95%);

    --color-green-150-86-44: hsl(150, 86%, 44%); /* success */

    --color-red-360-100-40: hsl(360, 100%, 40%); /* warning hover */
    --color-red-360-100-45: hsl(360, 100%, 45%); /* warning */
    --color-red-360-100-92: hsl(360, 100%, 92%); /* hover */
    --color-red-360-100-97: hsl(360, 100%, 97%); /* backgrounds */

    --color-orange-20-98-52: hsl(20, 98%, 52%); /* new badges */

    --color-white: hsl(0, 0%, 100%);
    --color-white-opacity-80: hsla(0, 0%, 100%, 80%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-opacity-10: hsla(0, 0%, 0%, 10%);
    --color-black-opacity-30: hsla(0, 0%, 0%, 30%);

    --placeholder-background-color: var(--dark-properties-panel);

    --bjsl-color-warning: rgb(147, 112, 3);
}