@import url(colors.css);

.dark .djs-container {
    --canvas-fill-color: var(--color-white);

    --bendpoint-fill-color: var(--color-blue-205-100-45);
    --bendpoint-stroke-color: var(--canvas-fill-color);

    --context-pad-entry-background-color: var(--color-white);
    --context-pad-entry-hover-background-color: var(--color-grey-225-10-95);

    --element-dragger-color: var(--color-blue-205-100-50);
    --element-hover-outline-fill-color: var(--color-blue-205-100-45);
    --element-selected-outline-stroke-color: var(--color-blue-205-100-50);
    --element-selected-outline-secondary-stroke-color: var(--color-blue-205-100-70);

    --lasso-fill-color: var(--color-blue-205-100-50-opacity-15);
    --lasso-stroke-color: var(--element-selected-outline-stroke-color);

    --palette-entry-color: var(--color-grey-225-10-15);
    --palette-entry-hover-color: var(--color-blue-205-100-45);
    --palette-entry-selected-color: var(--color-blue-205-100-50);
    --palette-separator-color: var(--color-grey-225-10-75);
    --palette-toggle-hover-background-color: var(--color-grey-225-10-55);
    --palette-border-color: var(--color-grey-225-10-75);

    --popup-body-background-color: var(--dark-properties-panel);
    --popup-header-entry-selected-color: var(--color-blue-205-100-50);
    --popup-header-entry-selected-background-color: var(--color-black-opacity-10);
    --popup-header-separator-color: var(--color-grey-225-10-75);
    --popup-background-color: var(--palette-background-color);
    --popup-border-color: var(--color-grey-225-10-75);

    --resizer-fill-color: var(--color-blue-205-100-45);
    --resizer-stroke-color: var(--canvas-fill-color);

    --search-container-background-color: var(--color-grey-225-10-97);
    --search-container-border-color: var(--color-blue-205-100-50);
    --search-container-box-shadow-color: var(--color-blue-205-100-95);
    --search-container-box-shadow-inset-color: var(--color-grey-225-10-80);
    --search-input-border-color: var(--color-grey-225-10-75);
    --search-result-border-color: var(--color-grey-225-10-75);
    --search-result-highlight-color: var(--color-black);
    --search-result-selected-color: var(--color-blue-205-100-45-opacity-30);

    --shape-attach-allowed-stroke-color: var(--color-blue-205-100-50);
    --shape-connect-allowed-fill-color: var(--color-grey-225-10-97);
    --shape-drop-allowed-fill-color: var(--color-grey-225-10-97);
    --shape-drop-not-allowed-fill-color: var(--color-red-360-100-97);
    --shape-resize-preview-stroke-color: var(--color-blue-205-100-50);

    --snap-line-stroke-color: var(--color-blue-205-100-45-opacity-30);

    --space-tool-crosshair-stroke-color: var(--color-black);

    --tooltip-error-background-color: var(--color-red-360-100-97);
    --tooltip-error-border-color: var(--color-red-360-100-45);
    --tooltip-error-color: var(--color-red-360-100-45);
}

.dark .djs-outline,
.dark .djs-selection-outline {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke-width: 2px;
}

.dark .djs-outline {
    visibility: hidden;
}

.dark .djs-selection-outline {
    stroke: var(--element-selected-outline-stroke-color);
}

.dark .djs-element.selected .djs-outline {
    visibility: visible;

    stroke: var(--element-selected-outline-stroke-color);
}

.dark .djs-multi-select .djs-element.selected .dark .djs-outline {
    stroke: var(--element-selected-outline-secondary-stroke-color);
}

.dark .djs-shape.connect-ok .djs-visual > :nth-child(1) {
    fill: var(--shape-connect-allowed-fill-color) !important;
}

.dark .djs-shape.connect-not-ok .djs-visual > :nth-child(1),
.dark .djs-shape.drop-not-ok .djs-visual > :nth-child(1) {
    fill: var(--shape-drop-not-allowed-fill-color) !important;
}

.dark .djs-shape.new-parent .djs-visual > :nth-child(1) {
    fill: var(--shape-drop-allowed-fill-color) !important;
}

.dark svg.drop-not-ok {
    background: var(--shape-drop-not-allowed-fill-color) !important;
}

.dark svg.new-parent {
    background: var(--shape-drop-allowed-fill-color) !important;
}

.dark .drop-not-ok,
.dark .connect-not-ok,
.dark .drop-not-ok *,
.dark .connect-not-ok * {
    cursor: not-allowed !important;
}

.dark .drop-ok,
.dark .connect-ok,
.dark .drop-ok *,
.dark .connect-ok * {
    cursor: default !important;
}

.dark .djs-element.attach-ok .djs-visual > :nth-child(1) {
    stroke-width: 5px !important;
    stroke: var(--shape-attach-allowed-stroke-color) !important;
}

.dark .djs-frame.connect-not-ok .djs-visual > :nth-child(1),
.dark .djs-frame.drop-not-ok .djs-visual > :nth-child(1) {
    stroke-width: 3px !important;
    stroke: var(--shape-drop-not-allowed-fill-color) !important;
    fill: none !important;
}

.dark .djs-lasso-overlay {
    fill: var(--lasso-fill-color);
    stroke: var(--lasso-stroke-color);
    stroke-width: 2px;
    shape-rendering: geometricPrecision;
    pointer-events: none;
}

.dark .djs-resize-overlay {
    fill: none;

    stroke-dasharray: 5 1 3 1;
    stroke: var(--shape-resize-preview-stroke-color);

    pointer-events: none;
}

.dark .djs-resizer-hit {
    fill: none;
    pointer-events: all;
}

.dark .djs-resizer-visual {
    fill: var(--resizer-fill-color);
    stroke-width: 1px;
    stroke: var(--resizer-stroke-color);
    shape-rendering: geometricPrecision;
}

.dark .djs-resizer:hover .djs-resizer-visual {
    stroke: var(--resizer-stroke-color);
    stroke-opacity: 1;
}

.dark .djs-cursor-resize-ns,
.dark .djs-resizer-n,
.dark .djs-resizer-s {
    cursor: ns-resize;
}

.dark .djs-cursor-resize-ew,
.dark .djs-resizer-e,
.dark .djs-resizer-w {
    cursor: ew-resize;
}

.dark .djs-cursor-resize-nwse,
.dark .djs-resizer-nw,
.dark .djs-resizer-se {
    cursor: nwse-resize;
}

.dark .djs-cursor-resize-nesw,
.dark .djs-resizer-ne,
.dark .djs-resizer-sw {
    cursor: nesw-resize;
}

.dark .djs-shape.djs-resizing > .dark .djs-outline {
    visibility: hidden !important;
}

.dark .djs-shape.djs-resizing > .djs-resizer {
    visibility: hidden;
}

.dark .djs-dragger > .djs-resizer {
    visibility: hidden;
}

.dark .djs-dragger * {
    fill: none !important;
    stroke: var(--element-dragger-color) !important;
}

.dark .djs-dragger tspan,
.dark .djs-dragger text {
    fill: var(--element-dragger-color) !important;
    stroke: none !important;
}

.dark marker .djs-dragger circle,
.dark marker .djs-dragger path,
.dark marker .djs-dragger polygon,
.dark marker .djs-dragger polyline,
.dark marker .djs-dragger rect {
    fill: var(--element-dragger-color) !important;
    stroke: none !important;
}

.dark marker .djs-dragger text,
.dark marker .djs-dragger tspan {
    fill: none !important;
    stroke: var(--element-dragger-color) !important;
}

.dark .djs-dragging {
    opacity: 0.3;
}

.dark .djs-dragging,
.dark .djs-dragging > * {
    pointer-events: none !important;
}

.dark .djs-dragging .djs-context-pad,
.dark .djs-dragging .djs-outline {
    display: none !important;
}

.dark .djs-visual,
.dark .djs-outline {
    pointer-events: none;
}

.dark .djs-element.attach-ok .djs-hit {
    stroke-width: 60px !important;
}

.dark .djs-element > .djs-hit-all,
.dark .djs-element > .djs-hit-no-move {
    pointer-events: all;
}

.dark .djs-element > .djs-hit-stroke,
.dark .djs-element > .djs-hit-click-stroke {
    pointer-events: stroke;
}

.dark .djs-connection .djs-visual {
    stroke-width: 2px;
    fill: none;
}

.dark .djs-cursor-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.dark .djs-cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.dark .djs-cursor-crosshair {
    cursor: crosshair;
}

.dark .djs-cursor-move {
    cursor: move;
}

.dark .djs-cursor-resize-ns {
    cursor: ns-resize;
}

.dark .djs-cursor-resize-ew {
    cursor: ew-resize;
}

.dark .djs-snap-line {
    stroke: var(--snap-line-stroke-color);
    stroke-linecap: round;
    stroke-width: 2px;
    pointer-events: none;
}

.dark .djs-crosshair {
    stroke: var(--space-tool-crosshair-stroke-color);
    stroke-linecap: round;
    stroke-width: 1px;
    pointer-events: none;
    shape-rendering: geometricPrecision;
    stroke-dasharray: 5, 5;
}

.dark .djs-palette .separator {
    margin: 5px;
    padding-top: 5px;
    border: none;
    border-bottom: solid 1px var(--palette-separator-color);
    clear: both;
}

.dark .djs-palette .entry:before {
    vertical-align: initial;
}

.dark .djs-palette .djs-palette-toggle {
    cursor: pointer;
}

.dark .djs-palette .entry,
.dark .djs-palette .djs-palette-toggle {
    color: var(--palette-entry-color);
    font-size: 30px;
    text-align: center;
}

.dark .djs-palette .entry {
    float: left;
}

.dark .djs-palette .entry img {
    max-width: 100%;
}

.dark .djs-palette .djs-palette-entries:after {
    content: '';
    display: table;
    clear: both;
}

.dark .djs-palette .djs-palette-toggle:hover {
    background: var(--palette-toggle-hover-background-color);
}

.dark .djs-palette .entry:hover {
    color: var(--palette-entry-hover-color);
    background-color: var(--dark-background);
}

.dark .djs-palette .highlighted-entry {
    color: var(--palette-entry-selected-color) !important;
}

.dark .djs-palette .entry,
.dark .djs-palette .djs-palette-toggle {
    width: 46px;
    height: 46px;
    line-height: 46px;
    cursor: default;
}

.dark .djs-palette.two-column.open {
    width: 94px;
}

.dark .djs-palette:not(.open) .djs-palette-entries {
    display: none;
}

.dark .djs-palette:not(.open) {
    overflow: hidden;
}

.dark .djs-palette.open .djs-palette-toggle {
    display: none;
}

.dark .djs-overlay-context-pad {
    width: 72px;
    z-index: 100;
}

.dark .djs-context-pad {
    position: absolute;
    display: none;
    pointer-events: none;
    line-height: 1;
}

.dark .djs-context-pad .entry {
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    margin: 0 2px 2px 0;
    border-radius: 3px;
    cursor: default;
    background-color: var(--context-pad-entry-background-color);
    box-shadow: 0 0 2px 1px var(--context-pad-entry-background-color);
    pointer-events: all;
    vertical-align: middle;
}

.dark .djs-context-pad .entry:hover {
    background-color: var(--context-pad-entry-hover-background-color);
}

.dark .djs-context-pad.open {
    display: block;
}

.dark .djs-popup .entry {
    line-height: 20px;
    white-space: nowrap;
    cursor: default;
}

.dark .djs-popup .entry:before {
    vertical-align: middle;
    font-size: 20px;
}

.dark .djs-popup .entry > span {
    vertical-align: middle;
    font-size: 14px;
}

.dark .djs-popup .entry:hover,
.dark .djs-popup .entry.active:hover {
    background: var(--popup-header-entry-selected-background-color);
}

.dark .djs-popup .entry.disabled {
    background: inherit;
}

.dark .djs-popup .djs-popup-header .entry {
    display: inline-block;
    padding: 2px 3px 2px 3px;
    border: solid 1px transparent;
    border-radius: 3px;
}

.dark .djs-popup .djs-popup-header .entry.active {
    color: var(--popup-header-entry-selected-color);
    border: solid 1px var(--popup-header-entry-selected-color);
    background-color: var(--popup-header-entry-selected-background-color);
}

.dark .djs-popup-body .entry {
    padding: 4px 5px;
}

.dark .djs-popup-body .entry > span {
    margin-left: 5px;
}

.dark .djs-popup-body {
    background-color: var(--popup-body-background-color);
}

.dark .djs-popup-header .entry {
    margin: 1px 1px 1px 3px;
}

.dark .djs-popup-header .entry:last-child {
    margin-right: 3px;
}

.dark .djs-palette {
    background: var(--dark-properties-panel);
    border: solid 1px var(--palette-border-color);
    border-radius: 2px;
}

.dark .djs-popup {
    background: var(--dark-properties-panel);
    border: solid 1px var(--popup-border-color);
    border-radius: 2px;
}

.dark .djs-shape,
.dark .djs-connection {
    touch-action: none;
}

.dark .djs-segment-dragger,
.dark .djs-bendpoint {
    display: none;
}

.dark .djs-segment-dragger .djs-visual {
    display: none;

    fill: var(--bendpoint-fill-color);
    stroke: var(--bendpoint-stroke-color);
    stroke-width: 1px;
    stroke-opacity: 1;
}

.dark .djs-segment-dragger:hover .djs-visual {
    display: block;
}

.dark .djs-bendpoint .djs-visual {
    fill: var(--bendpoint-fill-color);
    stroke: var(--bendpoint-stroke-color);
    stroke-width: 1px;
}

.dark .djs-segment-dragger:hover,
.dark .djs-bendpoints.hover .djs-segment-dragger,
.dark .djs-bendpoints.selected .djs-segment-dragger,
.dark .djs-bendpoint:hover,
.dark .djs-bendpoints.hover .djs-bendpoint,
.dark .djs-bendpoints.selected .djs-bendpoint {
    display: block;
}

.dark .djs-drag-active .djs-bendpoints * {
    display: none;
}

.dark .djs-bendpoints:not(.hover) .floating {
    display: none;
}

.dark .djs-segment-dragger:hover .djs-visual,
.dark .djs-segment-dragger.djs-dragging .djs-visual,
.dark .djs-bendpoint:hover .djs-visual,
.dark .djs-bendpoint.floating .djs-visual {
    fill: var(--bendpoint-fill-color);
    stroke: var(--bendpoint-stroke-color);
    stroke-opacity: 1;
}

.dark .djs-bendpoint.floating .djs-hit {
    pointer-events: none;
}

.dark .djs-segment-dragger .djs-hit,
.dark .djs-bendpoint .djs-hit {
    fill: none;
    pointer-events: all;
}

.dark .djs-segment-dragger.horizontal .djs-hit {
    cursor: ns-resize;
}

.dark .djs-segment-dragger.vertical .djs-hit {
    cursor: ew-resize;
}

.dark .djs-segment-dragger.djs-dragging .djs-hit {
    pointer-events: none;
}

.dark .djs-updating,
.dark .djs-updating > * {
    pointer-events: none !important;
}

.dark .djs-updating .djs-context-pad,
.dark .djs-updating .djs-outline,
.dark .djs-updating .djs-bendpoint,
.dark .djs-multi-select .djs-bendpoint,
.dark .djs-multi-select .djs-segment-dragger,
.dark .connect-ok .djs-bendpoint,
.dark .connect-not-ok .djs-bendpoint,
.dark .drop-ok .djs-bendpoint,
.dark .drop-not-ok .djs-bendpoint {
    display: none !important;
}

.dark .djs-segment-dragger .djs-dragging,
.dark .djs-bendpoint .djs-dragging {
    display: block;
    opacity: 1.0;
}

.dark .djs-tooltip-error {
    width: 160px;
    padding: 6px;
    background: var(--tooltip-error-background-color);
    border: solid 1px var(--tooltip-error-border-color);
    border-radius: 2px;
    color: var(--tooltip-error-color);
    font-size: 12px;
    line-height: 16px;
    opacity: 0.75;
}

.dark .djs-tooltip-error:hover {
    opacity: 1;
}

.dark .djs-search-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    z-index: 10;
    font-size: 1.05em;
    opacity: 0.9;
    background: var(--search-container-background-color);
    border: solid 1px var(--dark-background);
    border-radius: 2px;
    box-shadow: 0 0 0 2px var(--search-container-box-shadow-color), 0 0 0 1px var(--search-container-box-shadow-inset-color) inset;
}

.dark .djs-search-container:not(.open) {
    display: none;
}

.dark .djs-popup-search {
    background: var(--dark-background) !important;
}

.dark .djs-popup-search svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    margin: auto;
}

.dark .djs-popup-search input,
.dark .djs-search-input input {
    font-size: 1.05em;
    width: 100%;
    padding: 6px 30px;
    border: solid 1px var(--dark-properties-panel);
    box-sizing: border-box;
    background-color: var(--dark-background) !important;
}

.dark .djs-popup-search input:focus,
.dark .djs-search-input input:focus {
    outline: none;
    border: solid 1px var(--dark-foreground);
}

.dark .djs-popup-search-icon path {
    fill: var(--dark-foreground);
}

.dark .djs-search-results {
    position: relative;
    overflow-y: auto;
    max-height: 200px;
}

.dark .djs-search-results:hover {
    cursor: pointer;
}

.dark .djs-search-result {
    width: 100%;
    padding: 6px 10px;
    background: white;
    border-bottom: solid 1px var(--search-result-border-color);
    border-radius: 1px;
}

.dark .djs-search-highlight {
    color: var(--search-result-highlight-color);
}

.dark .djs-search-result-primary {
    margin: 0 0 10px;
}

.dark .djs-search-result-secondary {
    font-family: monospace;
    margin: 0;
}

.dark .djs-search-result:hover {
    background: var(--search-result-selected-color);
}

.dark .djs-search-result-selected {
    background: var(--search-result-selected-color);
}

.dark .djs-search-result-selected:hover {
    background: var(--search-result-selected-color);
}

.dark .djs-search-overlay {
    background: var(--search-result-selected-color);
}

.dark .djs-element-hidden,
.dark .djs-element-hidden .djs-hit,
.dark .djs-element-hidden .djs-outline,
.dark .djs-label-hidden .djs-label {
    display: none !important;
}

.dark .djs-element .djs-hit-stroke,
.dark .djs-element .djs-hit-click-stroke,
.dark .djs-element .djs-hit-all {
    cursor: move;
}